<div class="well hoverwell thumbnail">
  <h4 class="company-name">{{company.name}}</h4>
  <hr>
  <p class="company-type"><b>Type:</b> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i>{{company.type}}</i></p>
  <p class="company-employee"><b>Employees:&nbsp; &nbsp;&nbsp; &nbsp; </b> <i>{{company.employeeNumber}}</i></p>
  <p class="company-country"><b>Country:&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; </b> <i>{{company.country}}</i></p>
  <b><span class="company-dbpedia-url">DBPedia url: &nbsp; &nbsp; </span></b><i><a href="{{company.uri}}"
                                                                                         target="_blank">{{company.name}}</a></i>
  <div>
    <span><b><u>Events:</u></b></span><br>

    <span *ngIf="company.events.NEW_OFFICE.length > 0 ||
                 company.events.LAUNCH_PRODUCT.length > 0 ||
                 company.events.ATTEND_CONFERENCE.length > 0 ||
                 company.events.NEW_EMPLOYEE.length > 0; else noItem">

      <span *ngIf="company.events.NEW_OFFICE.length > 0">
        <div class="new-office">**NEW OFFICE:
          <p *ngFor="let newOfficeEvent of company.events.NEW_OFFICE">
            <span class="tweet-text">"{{newOfficeEvent.text}}"</span>
          </p>
        </div>
      </span>

      <span *ngIf="company.events.LAUNCH_PRODUCT.length > 0">
        <div class="new-office">**LAUNCH PRODUCT:
          <p *ngFor="let launchProductEvent of company.events.LAUNCH_PRODUCT">
            <span class="tweet-text">"{{launchProductEvent.text}}"</span>
          </p>
        </div>
      </span>

      <span *ngIf="company.events.ATTEND_CONFERENCE.length > 0">
        <div class="new-office">**ATTEND CONFERENCE:
          <p *ngFor="let attendConferenceEvent of company.events.ATTEND_CONFERENCE">
            <span *ngIf="attendConferenceEvent" class="tweet-text">"{{attendConferenceEvent.text}}"</span>
          </p>
        </div>
      </span>

      <span *ngIf="company.events.NEW_EMPLOYEE.length > 0">
        <div class="new-office">**NEW EMPLOYEE:
          <p *ngFor="let newEmployeeEvent of company.events.NEW_EMPLOYEE">
            <span *ngIf="newEmployeeEvent" class="tweet-text">"{{newEmployeeEvent.text}}"</span>
          </p>
        </div>
      </span>

    </span>
  </div>
</div>
<br>
