<div class="well hoverwell thumbnail">
  <h1>{{twitterProfile.name}}</h1>
  <p>{{twitterProfile.companyId}}</p>
  <p>{{twitterProfile.name}}</p>
  <p>{{twitterProfile.description}}</p>
  <p>{{twitterProfile.screenName}}</p>
  <p>{{twitterProfile.verified}}</p>
</div>
