<div class="container">
  <h1 style="text-align: center">Twitter Profiles</h1>
  <hr>
  <div class="container twitter-profile-container">
    <div class="row">
      <div *ngFor="let twitterProfile of twitterProfiles" class="container col-md-5">
        <twitter-profile-thumbnail [twitterProfile]="twitterProfile"></twitter-profile-thumbnail>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="container twitter-profile-pager">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)" class="page-link">First</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)" class="page-link">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
      </li>
    </ul>
  </div>

</div>
