
.chart-title {
  margin: 20px 50px;
  color: dimgray;
  font-size: 35px;
  font-family: "Berlin Sans FB", serif;
  font-weight: normal;
  padding-left: 20px;
}

.chart {
  height: 400px !important;
  display: block;
  margin: 30px;
}
