.hoverwell:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.thumbnail {
  min-height: 200px;
  max-width: 400px;
}

.yellow {
  color: greenyellow !important;
}

.bold {
  font-weight: bold
}

.company-container {
  max-height: 700px !important;
  overflow-x: scroll;
}

.company-pager {
  display: flex;
  justify-content: center;
}

.company-name {
  color: dodgerblue;
  text-align: center;
}

.company-type, .company-employee, .company-country, .company-dbpedia-url {
  text-align: left;
  margin: 0px 0px 0px 0px;
}
.new-office {
  color: blue;
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 13px;
  margin-left: 15px;
}
.tweet-text {
  color: dodgerblue;
  font-size: 15px;
  font-family: "Berlin Sans FB";
  font-style: italic;
  font-weight: normal;
  padding-left: 20px;
}
