.hoverwell:hover {
  background-color: darkgray;
  cursor: pointer;
}

.thumbnail {
  min-height: 200px;
  max-width: 500px;
}

.yellow {
  color: greenyellow !important;
}

.bold {
  font-weight: bold
}

.twitter-profile-container {
  max-height: 700px !important;
  overflow-x: scroll;
}

.twitter-profile-pager {
  display: flex;
  justify-content: center;
}
