<div class="container">
  <div class="center-pill align-content-center home-search">
    <form class="form-inline form-group col-10 align-content-center" (submit)="search()">
        <input class="form-control col-md-8 input-search" type="search" placeholder="Search events" aria-label="Search" name="event" [(ngModel)]="wordSearch">
        <button class="btn btn-outline-primary my-md-5" type="submit" >Search</button>
    </form>
  </div>
</div>

