<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a [routerLink]="['']" class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown" dropdown>
            <a href="#" dropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true"
               aria-expanded="false">Stats<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu">
              <a [routerLink]="['/company-type-per-country']" class="dropdown-item" routerLinkActive="active">Company
                Type
                Per Country</a>
            </div>
          </li>

          <!--<li class="nav-item">
            <a [routerLink]="['/charts']" routerLinkActive="active" class="nav-link" href="#">Stats</a>
          </li>-->
          <li class="nav-item">
            <a [routerLink]="['/company']" routerLinkActive="active" class="nav-link" href="#">Companies</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/twitter-profile']" routerLinkActive="active" class="nav-link" href="#">Twitter
              Profiles</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/tweet']" routerLinkActive="active" class="nav-link" href="#">Tweets</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>

  </nav>
</div>
